<div class="row">
  <div class="small-9 small-centered columns end">
    <h2>1. Corner Permutation</h2>
    <ul class="small-block-grid-3">
      <li ng-repeat="permutation in pllList.corner">
        <h4 ng-bind="permutation.name" ></h4>
        <img ng-src="/images/{{permutation.image}}"/>
        <p ng-repeat="algorithm in permutation.algorithms" ng-bind="algorithm"></p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-9 small-centered columns end">
    <h2>2. Edge Permutation</h2>
    <ul class="small-block-grid-3">
      <li ng-repeat="permutation in pllList.edge">
        <h4 ng-bind="permutation.name" ></h4>
        <img ng-src="/images/{{permutation.image}}"/>
        <p ng-repeat="algorithm in permutation.algorithms" ng-bind="algorithm"></p>
      </li>
    </ul>
  </div>
</div>
